In [2]:
import pandas as pd
turnstile = pd.read_csv('turnstile/cleaned_turnstile_daily.csv')

In [4]:
turnstile

,Unnamed: 0,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
0,1,A002,R051,02-00-00,59 ST,01/02/2019,6893894,01/01/2019,6892430.0,1464.0
1,2,A002,R051,02-00-00,59 ST,01/03/2019,6895434,01/02/2019,6893894.0,1540.0
2,3,A002,R051,02-00-00,59 ST,01/04/2019,6896974,01/03/2019,6895434.0,1540.0
3,4,A002,R051,02-00-00,59 ST,01/05/2019,6897740,01/04/2019,6896974.0,766.0
4,5,A002,R051,02-00-00,59 ST,01/06/2019,6898382,01/05/2019,6897740.0,642.0
...,...,...,...,...,...,...,...,...,...,...
1763877,1768906,TRAM2,R469,00-05-01,RIT-ROOSEVELT,12/27/2018,5554,12/26/2018,5554.0,0.0
1763878,1768907,TRAM2,R469,00-05-01,RIT-ROOSEVELT,12/28/2018,5554,12/27/2018,5554.0,0.0
1763879,1768908,TRAM2,R469,00-05-01,RIT-ROOSEVELT,12/29/2018,5554,12/28/2018,5554.0,0.0
1763880,1768909,TRAM2,R469,00-05-01,RIT-ROOSEVELT,12/30/2018,5554,12/29/2018,5554.0,0.0
1763881,1768910,TRAM2,R469,00-05-01,RIT-ROOSEVELT,12/31/2018,5554,12/30/2018,5554.0,0.0