In [24]:
import pandas as pd
import argparse
import collections
import csv
import simplejson as json
import random
import gc
import os
import glob
import numpy as np
import re
# visualization imports
import matplotlib.pyplot as plt
import seaborn as sns
# modelling imports
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, accuracy_score, roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
#os.chdir("../project3/data/yelp_dataset_2020/selected/Round_2")
#os.chdir(os.getcwd())

pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 500)
#pd.set_option('display.max_colwidth', 0)

#DO NOT RUN
"""
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
df_scope_elite_19 = pd.concat([pd.read_csv(f, names=['user_id','elite_status']) for f in all_filenames ])
#export to csv
df_scope_elite_19.to_csv( "yelp_selected_elites.csv", index=False, encoding='utf-8-sig')
"""

'\nextension = \'csv\'\nall_filenames = [i for i in glob.glob(\'*.{}\'.format(extension))]\ndf_scope_elite_19 = pd.concat([pd.read_csv(f, names=[\'user_id\',\'elite_status\']) for f in all_filenames ])\n#export to csv\ndf_scope_elite_19.to_csv( "yelp_selected_elites.csv", index=False, encoding=\'utf-8-sig\')\n'

In [3]:
#ALL YELPERS
df_user_18 = pd.read_csv('../project3/data/yelp_dataset_2019/user.csv')
df_user_18 = df_user_18.reindex(sorted(df_user_18.columns), axis=1)
df_user_18.drop_duplicates(keep=False,inplace=True) 

#SELECTED YELPERS
random.seed(4)
yelp_users = list(df_user_18['user_id'].unique())
scope_yelp_users = pd.DataFrame(random.sample(yelp_users, k=100001), columns = ['user_id'])

#DEFINE SCOPE USERS
df_scope_user_18 = scope_yelp_users.merge(df_user_18, left_on='user_id', right_on='user_id').copy()

/Users/chen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#DEFINTE SELECTED ELITES
df_scope_elite_19 = pd.read_csv('../project3/data/yelp_dataset_2020/selected/Round_2/yelp_selected_elites.csv')
#IF is 2019 ELITE
df_scope_elite_19['2019_elite_status'] = df_scope_elite_19['elite_status'].str.contains('19')

In [5]:
#MERGE DATASETS
df_scope_user_18 = df_scope_user_18.merge(df_scope_elite_19, left_on='user_id', right_on='user_id').copy()

In [6]:
#2018 RAW
df_review_18 = pd.read_csv('../project3/data/yelp_dataset_2019/review.csv')
df_review_18 = df_review_18.reindex(sorted(df_review_18.columns), axis=1)

In [7]:
df_tip_18 = pd.read_csv('../project3/data/yelp_dataset_2019/tip.csv')
df_tip_18 = df_tip_18.reindex(sorted(df_tip_18.columns), axis=1)

In [8]:
df_business_18 = pd.read_csv('../project3/data/yelp_dataset_2019/business.csv')
df_business_18 = df_business_18.reindex(sorted(df_business_18.columns), axis=1)

/Users/chen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (18,34,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#skiprows = range(1, 1000000), nrows=1000000
#df_checkin_18= pd.read_csv('../project3/data/yelp_dataset_2019/checkin.csv', nrows=1000)
#df_photo_18 = pd.read_csv('../project3/data/yelp_dataset_2019/photo.csv', nrows=1000)

In [9]:
df_scope_review_18 = scope_yelp_users.merge(df_review_18, left_on='user_id', right_on='user_id').copy()

In [10]:
df_scope_tip_18 = scope_yelp_users.merge(df_tip_18, left_on='user_id', right_on='user_id').copy()

In [11]:
df_scope_tip_business_18 = df_scope_tip_18.merge(df_business_18, how='left', left_on='business_id', right_on='business_id').copy()

In [12]:
df_scope_review_business_18 = df_scope_review_18.merge(df_business_18, how='left', left_on='business_id', right_on='business_id').copy()

In [13]:
#allievate memory
del [[df_business_18,df_tip_18,df_review_18]]
gc.collect()

27

In [14]:
df_user_17 = pd.read_csv('../project3/data/yelp_dataset_2018/yelp_academic_dataset_user.csv')

In [15]:
df_user_17 = df_user_17.reindex(sorted(df_user_17.columns), axis=1)
df_user_17.drop_duplicates(keep=False,inplace=True) 
df_scope_user_17 = scope_yelp_users.merge(df_user_17,how='left', left_on='user_id', right_on='user_id').copy()

In [16]:
df_review_17 = pd.read_csv('../project3/data/yelp_dataset_2018/yelp_academic_dataset_review.csv')
df_review_17 = df_review_17.reindex(sorted(df_review_17.columns), axis=1)

In [17]:
df_scope_review_17 = scope_yelp_users.merge(df_review_17, left_on='user_id', right_on='user_id').copy()

In [18]:
df_tip_17 = pd.read_csv('../project3/data/yelp_dataset_2018/yelp_academic_dataset_tip.csv')
df_business_17 = pd.read_csv('../project3/data/yelp_dataset_2018/yelp_academic_dataset_business.csv')

In [19]:
df_scope_tip_17 = scope_yelp_users.merge(df_tip_17, left_on='user_id', right_on='user_id').copy()

In [20]:
df_scope_tip_business_17 = df_scope_tip_17.merge(df_business_17, how='left', left_on='business_id', right_on='business_id').copy()

In [21]:
df_scope_review_business_17 = df_scope_review_17.merge(df_business_17, how='left', left_on='business_id', right_on='business_id').copy()

In [22]:
#allievate memory
del [[df_business_17,df_tip_17,df_review_17]]
gc.collect()

40

In [ ]:
#df_scope_tip_business_18
#df_scope_review_business_18
#df_scope_user_18
#df_scope_tip_business_17
#df_scope_review_business_17
#df_scope_user_17

In [ ]:
#2017 RAW
#df_review_17 = pd.read_csv('../project3/data/yelp_dataset_2018/yelp_academic_dataset_review.csv', nrows=1000)
#df_user_17 = pd.read_csv('../project3/data/yelp_dataset_2018/yelp_academic_dataset_user.csv', nrows=1000)
#df_tip_17 = pd.read_csv('../project3/data/yelp_dataset_2018/yelp_academic_dataset_tip.csv', nrows=1000)
#df_business_17 = pd.read_csv('../project3/data/yelp_dataset_2018/yelp_academic_dataset_business.csv', nrows=1000)
#df_checkin_17 = pd.read_csv('../project3/data/yelp_dataset_2018/yelp_academic_dataset_checkin.csv', nrows=1000)

In [40]:
#df_scope_tip_business_18
#df_scope_review_business_18
#df_scope_user_18

In [53]:
len(str(df_scope_user_18['friends']).split(','))

10

In [30]:
len(re.findall(r'9',df_scope_user_18['friends'][2]))

.str.count

5

In [62]:
df_scope_user_18['num_friends'] = df_scope_user_18['friends'].str.split()

df_scope_user_18['num_friends']

KeyboardInterrupt:

In [42]:
#engineer user 2018
df_scope_user_18['num_friends'] = len(df_scope_user_18['friends'].str.split(','))
df_scope_user_18['2018_elite_status'] = df_scope_user_18['elite'].str.contains('2018')
df_scope_user_18['num_years_elite'] = len(df_scope_user_18['elite'].str().split(','))
df_scope_user_18['num_compliments'] = df_scope_user_18[['compliment_cool', 'compliment_cute', 'compliment_funny', 'compliment_hot', 'compliment_list', 'compliment_more', 'compliment_note', 'compliment_photos', 'compliment_plain', 'compliment_profile', 'compliment_writer']].sum(axis=1)
df_scope_user_18['num_votes'] = df_scope_user_18[['cool','funny','useful']].sum(axis=1)
df_scope_user_18['yelping_since'] = pd.to_datetime(df_scope_user_18['yelping_since'])
end_date_18 = pd.to_datetime("12/31/2018")
df_scope_user_18['num_days_acct_created'] = (end_date_18-df_scope_user_18['yelping_since']).dt.days
df_scope_user_18['num_years_elite'].fillna(0, inplace = True)

In [44]:
f_df_scope_user_18 = df_scope_user_18[['user_id', 'average_stars', 'elite', 'fans', 'name', 'review_count','2018_elite_status', '2019_elite_status', 'num_friends', 'num_years_elite', 'num_compliments', 'num_votes', 'num_days_acct_created']]

In [43]:
#engineer user 2017
df_scope_user_17['num_friends'] = df_scope_user_17['friends'].str.count(',')+1
df_scope_user_17['num_years_elite'] = df_scope_user_17['elite'].str.count(',')+1
df_scope_user_17['num_compliments'] = df_scope_user_17[['compliment_cool', 'compliment_cute', 'compliment_funny', 'compliment_hot', 'compliment_list', 'compliment_more', 'compliment_note', 'compliment_photos', 'compliment_plain', 'compliment_profile', 'compliment_writer']].sum(axis=1)
df_scope_user_17['num_votes'] = df_scope_user_17[['cool','funny','useful']].sum(axis=1)
df_scope_user_17['yelping_since'] = pd.to_datetime(df_scope_user_17['yelping_since'])
end_date_17 = pd.to_datetime("12/31/2017")
df_scope_user_17['num_days_acct_created'] = (end_date_17-df_scope_user_17['yelping_since']).dt.days
df_scope_user_17['num_years_elite'].fillna(0, inplace = True)

In [45]:
f_df_scope_user_17 = df_scope_user_17[['user_id', 'average_stars', 'fans', 'name', 'review_count', 'num_friends', 'num_years_elite', 'num_compliments', 'num_votes', 'num_days_acct_created']]

In [46]:
df_scope_user_17_18 = f_df_scope_user_18.merge(f_df_scope_user_17, how='inner', left_on='user_id', right_on='user_id',suffixes=('_2018', '_2017')).copy()

In [47]:
df_scope_user_17_18.reindex(sorted(df_scope_user_17_18.columns), axis=1)

      2018_elite_status 2019_elite_status  average_stars_2017  average_stars_2018                     elite  fans_2017  fans_2018  name_2017  name_2018  num_compliments_2017  num_compliments_2018  num_days_acct_created_2017  num_days_acct_created_2018  num_friends_2017  num_friends_2018  num_votes_2017  num_votes_2018  num_years_elite_2017  num_years_elite_2018  review_count_2017  review_count_2018                 user_id
0                   NaN               NaN                1.00                1.00                       NaN        0.0          0     Jordan     Jordan                   0.0                     0                       344.0                         708            100001            100000             0.0               0                100001                100000                3.0                  4  JiSmqJTy4XzD8Iq7hmiPbg
1                   NaN               NaN                1.00                2.57                       NaN        0.0          0       Bret       Bret                   0.0                     1                      2580.0                        2944            100001            100000             0.0              15                100001                100000                2.0                  6  K3PWmlr7-7ElfBexj7Y-LQ
2                   NaN               NaN                4.35                4.39                       NaN        1.0          1      Marla      Marla                  31.0                    31                      3654.0                        4018            100001            100000            37.0             120                100001                100000               16.0                 17  gbf5QBeThKVj41yEIMffpg
3                   NaN               NaN                 NaN                4.50                       NaN        NaN          0        NaN       Dave                   0.0                     0                         NaN                        1131            100001            100000             0.0               9                100001                100000                NaN                 12  ciqWh9xKZ4etIPLfz4IVQQ
4                   NaN               NaN                3.50                3.38                       NaN        2.0          2       Phil       Phil                   1.0                     1                      2945.0                        3309            100001            100000             2.0              51                100001                100000                8.0                 11  APOWTEmOQe3xtQir4MvpsQ
...                 ...               ...                 ...                 ...                       ...        ...        ...        ...        ...                   ...                   ...                         ...                         ...               ...               ...             ...             ...                   ...                   ...                ...                ...                     ...
99995               NaN               NaN                 NaN                4.00                       NaN        NaN          0        NaN       Ally                   0.0                     0                         NaN                        1498            100001            100000             0.0               0                100001                100000                NaN                  1  VKl2pzBRNk6maQaGOiqxzg
99996               NaN               NaN                3.35                3.18                       NaN        2.0          2  Stephanie  Stephanie                   2.0                     2                      2397.0                        2761            100001            100000            16.0              37                100001                100000               29.0                 32  u1CkfhPislEOweXnOIFV5Q
99997               NaN               NaN                 NaN                1.00                       NaN        NaN          0        NaN        Jon                   0.0                     0                         NaN                        1489            100001            100000             0.0               1                100001                100000                NaN                  3  aXR0qSnMP8CghK5ICf3NIA
99998               NaN               NaN                5.00                5.00                       NaN        0.0          0      Carol      Carol                   0.0                     0                      1085.0                        1449            100001            100000             0.0               1                100001                100000                1.0                  1  _2RSOIkTe_5vCbnatiyFjQ
99999             False             False                4.18                4.19  2008,2009,2010,2011,2012       12.0         13   Rassamee   Rassamee                  96.0                    96                      3854.0                        4218            100001            100000            63.0             704                100001                100000              227.0                231  lFIxofgBzZOGC4fDmUSLIw

[100000 rows x 22 columns]

In [1]:
df_review_18.reindex(sorted(df_review_18.columns), axis=1)

NameError: name 'df_review_18' is not defined